.step-travel-content {
    display: flex;
    justify-content: space-between ;
}

.basket-content {
    background-color: #EBEBEB;
    width:20%;
}

.form-content {
    flex-grow: 4;
    width:78%;
    align-content: center;
    
}