.step-travel-content {
    display: flex;
    justify-content: space-between ;
}

.basket-content {
    background-color: #EBEBEB;
}

.form-content {
    flex-grow: 4;
    align-content: center;
    
}

.prix-barre {
    text-decoration: line-through;
}

.prix {
    text-align: center;
}

.prix-remise {
    background-color: wheat;
}