.mat-stepper-horizontal {
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 8px;
    background-color: #FD4C51;
}

.mat-form-field {
    margin-top: 16px;
    color:#FFFFFF;
}

.sides {
    display: flex;
    justify-content: space-between ;
    gap: 10px;
    min-height: 600px;
}

.basket-content {
    margin-top: 4px;
    margin-bottom: 10px;
    margin-right: 8px;
    background-color: #EBEBEB;
    width:40%;
}

.stepper-content {
    flex-grow: 4;
    width:60%;
    align-content: center;   
}